$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body{
  font-family: 'Malgun Gothic', 'Nanum Gothic', sans-serif;
  color: #666;
  font-size: 13px;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

ol,ul{
  list-style: none;
}

@mixin setWidth($width){
  width: $width;
  margin: 0 auto;
}

#header{

  height: 45px;
  background: #5474c0;

  .header-inner{
    position: relative;
    @include setWidth(940px);
  }

  .header-lg{
    display: inline;
    position: absolute;
    top: -4px;
    left: 0;
  }

  .header-nav{
    position: absolute;
    top: 12px;
    left: 120px;
  }

  .header-nav-list{
    float: left;
    text-align: center;
    padding: 0 7px;
  }

  .header-nav-list:nth-child(5){
    border-right: 1px solid #92adda;
  }

  .header-nav-link{
    color: #E5EEF6;
    font-size: 15px;
    font-weight: bold;
  }

  .header-nav-local{
    position: absolute;
    top: 0;
    right: 0;

  }

  .header-nav-local-list{
    float: left;
    border-left: 1px solid #779bd5;
  }

  .header-nav-local-list:last-child{
    border-right: 1px solid #779bd5;
  }

  .header-nav-local-link{
    border-left: 1px solid #3e5fab;
    display: block;
    color: #E5EEF6;
    width: 55px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-indent: -9999em;
    background: url('../images/img_sprite_local_nav.png') no-repeat;
  }

  .header-nav-local-list:nth-child(1){
    .header-nav-local-link{
      background-position: 2px center;
    }
  }
  .header-nav-local-list:nth-child(2){
    .header-nav-local-link{
      background-position: -55px 5px;
    }
  }
  .header-nav-local-list:nth-child(3){
    .header-nav-local-link{
      background-position: -111px center;
    }
  }
  .header-nav-local-list:nth-child(4){
    .header-nav-local-link{
      background-position: -162px center;
    }
  }


  .header-nav-local-link:last-child{
    border-right: 1px solid #3e5fab;
  }

}
