@charset "UTF-8" ; 

.clearfix:after{
    clear: both;
    display: block;
    content: "";
  }
  
  .blind{
    display: none;
  }
  
  .fontBlack {
    color: #4d4b45;
  }
  
  .center{
    text-align: center;
  }
  
  .ellipsis{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }