@charset "UTF-8" ;

// reset 시작
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{
  margin:0;
  padding:0;
}
body,button,input,select,table,textarea{

  font-family: 'Malgun Gothic', '맑은고딕', Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif
}
button,input{
  border-radius:0
}
fieldset,img{
  border:0
}
ol,ul,li{
  list-style:none;
}
address,em{
  font-style:normal;
}
a{
  text-decoration:none;
  color: inherit;
  cursor : pointer ; 
}
a:hover{
  text-decoration: none;
}

hr{
  display: none;
}

html,body{
  overflow-x: hidden;
}